.git
.github
.venv
**/__pycache__
**/*.py[cod]
**/*.so
**/*.dylib
**/*.dll
**/target
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
coverage.xml
*.egg-info
dist
state
workspaces
projects
*.db
*.db-*
docs
examples
schemas
scripts
tests
Makefile
clippy.toml
rustfmt.toml
**/.gitignore
